*{
  font-family: arial;
  line-height: 1.5;
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,255,1) 0%, rgba(0,68,255,1) 41%, rgba(0,212,255,1) 100%) fixed;
};

p {
  color: #555;
}

.Title {
  border-bottom: 3px solid black;
  font-size: 40;
  /* background: radial-gradient(#AADDFF, #000000);
  background-clip: border-box; */
}

ul {
  border-bottom: 3px solid black;
  font-size: 20;
  display: flex;
  list-style: none;
  padding: 0;
}

li {
  padding: 5px;
}

nav {
  border-bottom: 3px solid black;
}

.crumbs ol {
  list-style-type: none;
  padding-left: 5px;
}

.crumb {
  display: inline-block;
}

.crumb a::after {
  display: inline-block;
  color: #000;
  content: '►';
  font-size: 80%;
  font-weight: bold;
  padding: 0px;
}

article {
  border-right: 3px solid black;
  display: inline-block;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
